:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 0 5px;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 10px 0px;
    margin: 0 auto;
    width: 70%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.instructions {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    width: 90%;
    max-width: 600px;
}

.instructions h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.instructions p {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.instructions p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('assets/flecha-correcta.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 0px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: auto; /* Ancho automático en pantallas grandes */
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    flex-wrap: wrap;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 5px;
}

#listaAmigos{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.amigo-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    width: auto;
    max-width: none;
}

.eliminar-amigo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(119, 119, 119);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1px 3px;
    font-size: 10px;
    border-radius: 0 5px 0 5px;
    display: none;
}

.amigo-item:hover .eliminar-amigo {
    display: block;
}

#listaAmigos{
    padding: 0 20px;
}

.result-list {
    margin-top: 10px;
    color: #0bb5af;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.button-draw {
    width: auto;
    display: flex;
    padding: 10px 35px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 10px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .button-draw {
        margin-bottom: 10px;
        width: 100%;
    }
}

.fuegos-artificiales {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    vertical-align: middle; /* Alinea verticalmente con el texto */
    margin: 0 10px; /* Agrega margen a los lados del GIF */
}